# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ---------------------
# Temporary files
# ---------------------
*.tmp
*.swp
*.bak
*.old

# ---------------------
# IntelliJ IDEA
# ---------------------
.idea/
*.iml
*.iws